@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.4);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 14px;
}
